body {
  max-width: 98%;/"1388"/
  font-size: 100%;
  background-image: url(../images/paintbucket.jpg);
  background-color: #78D5E3;
  border-style: double;
  border-color: #BED661;
  border-width: 10px;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  background-size: 1381px;
}

p {
  font-family: "cinnamon cake";
  font-size: 1.1875em;
  color: #FFFBD0;
  text-shadow: 2px 2px 4px #dc143c;
  margin-left: 13%;
}

ul {
  max-width: 100%;
  border: 2px dotted #BED661;
  list-style-type: none;
  width: 14.28571%;/"700px"/
  overflow: hidden;
}

li {
  float: left;
}

h1 {
  font-family: Ayuthaya , sript, sans script;
  font-size: 2.8125em; /"45px"/
  font-weight: bolder;
  font-stretch: normal;
  font-style: inherit;
  color: #BED661;
  text-shadow: 4px 4px 6px #111;
  text-align: center;
  background-color: #FFF;
  border-style: double;
  border-color: #BED661;
  border-radius: 20px;
  border-width: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 29%;
  margin-left: 35%;
  margin-bottom: 8%;
  margin-top: 3%;
  box-shadow: 2px 3px 2px;
  max-width: 100%;
}

h2,h3,h4 {
  font-family: Ayuthaya, sript, sans script;
  color: #BED661;
  text-shadow: 2px 2px 4px #111;
  margin-left: 2%;
  text-decoration: underline;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #A52A2A;
}

a:hover {
  color: #F0F;
}

a:active {
  color: blue;
}

ul {
  width: 30%;
  max-width: 100%;
  background-color: #BED661;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  font-size: 1.25em;
  margin-bottom: 7%;
  border-style: solid;
  border-width: 5px;
  border-color: #93E2D5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: .22831%;
  -moz-box-shadow: 2px 2px 2px #FFF;
  -webkit-box-shadow: 2px 2px 2px #FFF;
  box-shadow: 2px 2px 2px #FFF;
  margin-left: 34%;
}

li {
  width: 25%; /"100px"/
  float: left;
}

a {
  text-decoration: none;
  display: block;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.footer {
  clear: left;
  padding-top: 3.5%;
}

#highqual {
  text-align: center;
}

.h3text {
  width: 38%; /"438px"/
  max-width: 100%;
  background-color: #d2691e;
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 11.18721%;
  font-size: 1.25em; /"20px"/
  padding: .22831%;
  border-style: solid;
  border-width: 4px;
  border-radius: 3px;
  border-color: #93E2D5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 2px 2px 2px #FFF;
  -webkit-box-shadow: 2px 2px 2px #FFF;
  box-shadow: 2px 2px 2px #FFF;
  text-align: center;
  opacity: 0.9;
  margin-top: 7%;
}

ol li {
  background-color: #BED661;
  list-style-type: upper-roman;
  width: 18%;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  border-color: #93E2D5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 2px 2px 2px #FFF;
  -webkit-box-shadow: 2px 2px 2px #FFF;
  box-shadow: 2px 2px 2px #FFF;
  margin-bottom: 2%;
  float: none;
  list-style-position: inside;
}

aside {
  float: left;
}

.email {
  margin-left: 15%;
  max-width: 100%;
}

.phone {
  max-width: 100%;
}

h3 {
  margin-left: 34.14985%;
  font-size: 1.75em;
}

.gurantee {
  text-decoration: underline blink;
  font-size: 1.0625em; /"17px"/
  margin-bottom: 14px;
  overflow: hidden;
}

/*= Media Queries
===============================================================================*/

@media screen and (min-width: 768px)and(max-width: 959px){ 
  body { background-size: 55%; }
  
  #table1 { display: none; }
  
  #table2 { display: none; }
  
  #chair { display: none; }

}

@media only screen and (min-width: 480px)and(max-width: 767px){
  body { background-size: 30%; }
  
  #table1 { display: none; }
  
  #table2 { display: none; }
  
  #chair { display: none; }
  
  ul { display: table-cell; }
  
  div{ font-size: small; }
  
 }
  
  @media only screen and (max-width: 479px){
  body { background-size: 20%; }
   
  #table1 { display: none; }
  
  #table2 { display: none; }
  
  #chair { display: none; }
  
  ul { display: table-cell; }
  
  div { font-size: x-small; }
  
}
